.vs/slnx.sqlite
.vs/Jwt-demo/FileContentIndex/a850c983-4314-4f6f-8325-f1e1e65cc753.vsidx
KassiKessi/.vs/KassiKessi/DesignTimeBuild/.dtbcache.v2
KassiKessi/.vs/KassiKessi/FileContentIndex/0fb4d241-9a0d-4c70-a40c-f0524bb96758.vsidx
KassiKessi/.vs/KassiKessi/FileContentIndex/6b6924f4-4786-468a-acc8-4ec2c80b6e75.vsidx
KassiKessi/.vs/KassiKessi/FileContentIndex/7a03c8ad-5686-412e-8e07-dcc63ab8b452.vsidx
KassiKessi/.vs/KassiKessi/FileContentIndex/f75aede3-28ec-459f-bdd5-dc9b87b6eb1b.vsidx
KassiKessi/.vs/KassiKessi/config/applicationhost.config
KassiKessi/.vs/KassiKessi/v17/.futdcache.v2
KassiKessi/.vs/KassiKessi/v17/.suo
KassiKessi/.vs/ProjectEvaluation/kassikessi.metadata.v7.bin
KassiKessi/.vs/ProjectEvaluation/kassikessi.projects.v7.bin
.vs/Jwt-demo/FileContentIndex/8ff0686a-da73-49e9-962f-8922ca59ae5b.vsidx
KassiKessi/KassiKessi/bin/Debug/net6.0/appsettings.Development.json
KassiKessi/KassiKessi/bin/Debug/net6.0/appsettings.json
KassiKessi/KassiKessi/bin/Debug/net6.0/KassiKessi.deps.json
KassiKessi/KassiKessi/bin/Debug/net6.0/KassiKessi.dll
KassiKessi/KassiKessi/bin/Debug/net6.0/KassiKessi.exe
KassiKessi/KassiKessi/bin/Debug/net6.0/KassiKessi.pdb
KassiKessi/KassiKessi/bin/Debug/net6.0/KassiKessi.runtimeconfig.json
KassiKessi/KassiKessi/bin/Debug/net6.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
KassiKessi/KassiKessi/bin/Debug/net6.0/Microsoft.IdentityModel.JsonWebTokens.dll
KassiKessi/KassiKessi/bin/Debug/net6.0/Microsoft.IdentityModel.Logging.dll
KassiKessi/KassiKessi/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.dll
KassiKessi/KassiKessi/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
KassiKessi/KassiKessi/bin/Debug/net6.0/Microsoft.IdentityModel.Tokens.dll
KassiKessi/KassiKessi/bin/Debug/net6.0/System.IdentityModel.Tokens.Jwt.dll
KassiKessi/KassiKessi/obj/KassiKessi.csproj.nuget.dgspec.json
KassiKessi/KassiKessi/obj/KassiKessi.csproj.nuget.g.props
KassiKessi/KassiKessi/obj/KassiKessi.csproj.nuget.g.targets
KassiKessi/KassiKessi/obj/project.assets.json
KassiKessi/KassiKessi/obj/project.nuget.cache
KassiKessi/KassiKessi/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
KassiKessi/KassiKessi/obj/Debug/net6.0/apphost.exe
KassiKessi/KassiKessi/obj/Debug/net6.0/KassiKessi.AssemblyInfo.cs
KassiKessi/KassiKessi/obj/Debug/net6.0/KassiKessi.AssemblyInfoInputs.cache
KassiKessi/KassiKessi/obj/Debug/net6.0/KassiKessi.assets.cache
KassiKessi/KassiKessi/obj/Debug/net6.0/KassiKessi.csproj.AssemblyReference.cache
KassiKessi/KassiKessi/obj/Debug/net6.0/KassiKessi.csproj.BuildWithSkipAnalyzers
KassiKessi/KassiKessi/obj/Debug/net6.0/KassiKessi.csproj.CopyComplete
KassiKessi/KassiKessi/obj/Debug/net6.0/KassiKessi.csproj.CoreCompileInputs.cache
KassiKessi/KassiKessi/obj/Debug/net6.0/KassiKessi.csproj.FileListAbsolute.txt
KassiKessi/KassiKessi/obj/Debug/net6.0/KassiKessi.dll
KassiKessi/KassiKessi/obj/Debug/net6.0/KassiKessi.GeneratedMSBuildEditorConfig.editorconfig
KassiKessi/KassiKessi/obj/Debug/net6.0/KassiKessi.genruntimeconfig.cache
KassiKessi/KassiKessi/obj/Debug/net6.0/KassiKessi.GlobalUsings.g.cs
KassiKessi/KassiKessi/obj/Debug/net6.0/KassiKessi.MvcApplicationPartsAssemblyInfo.cache
KassiKessi/KassiKessi/obj/Debug/net6.0/KassiKessi.pdb
KassiKessi/KassiKessi/obj/Debug/net6.0/staticwebassets.build.json
KassiKessi/KassiKessi/obj/Debug/net6.0/ref/KassiKessi.dll
KassiKessi/KassiKessi/obj/Debug/net6.0/refint/KassiKessi.dll
KassiKessi/KassiKessi/obj/Debug/net6.0/staticwebassets/msbuild.build.KassiKessi.props
KassiKessi/KassiKessi/obj/Debug/net6.0/staticwebassets/msbuild.buildMultiTargeting.KassiKessi.props
KassiKessi/KassiKessi/obj/Debug/net6.0/staticwebassets/msbuild.buildTransitive.KassiKessi.props
KassiKessi/KassiKessi/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
KassiKessi/KassiKessi/obj/Release/net6.0/KassiKessi.AssemblyInfo.cs
KassiKessi/KassiKessi/obj/Release/net6.0/KassiKessi.AssemblyInfoInputs.cache
KassiKessi/KassiKessi/obj/Release/net6.0/KassiKessi.assets.cache
KassiKessi/KassiKessi/obj/Release/net6.0/KassiKessi.csproj.AssemblyReference.cache
KassiKessi/KassiKessi/obj/Release/net6.0/KassiKessi.GeneratedMSBuildEditorConfig.editorconfig
KassiKessi/KassiKessi/obj/Release/net6.0/KassiKessi.GlobalUsings.g.cs
.vs/Jwt-demo/FileContentIndex/e8ca5a60-d796-41cd-a7eb-002306c368ab.vsidx
.vs/Jwt-demo/FileContentIndex/1c299047-bb1c-4bed-9c87-785591a1f376.vsidx
.vs/Jwt-demo/FileContentIndex/*
